// Place all the styles related to the Ingredients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.ingredient_container {
  background-color: white;
  padding: 15px;
}

.ingredient_index_container {
  padding: 15px;
  text-align: center;
}

.ingredient_index table {
  margin: 0px auto;
  text-align: left;
}

.ingredient_index {
  width: 50%;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid black;
  padding: 10px;
  height: auto;
  margin-top: 20px;
}