<!DOCTYPE html>
<html>
<head>
  <title>ADACooks</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %> 
  <!-- can add style sheet here just as "sheet" , with actuall .css file stored in app/assets/stylesheets folder, but the default layout is is scarrolds.css.scss-->
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
